.my-container.mt-2
  .header 
    %img.float-left{src: "#{@task.default_img}", style: "width:40px;height:40px;"}
    %p{style: "width: 80%;margin: 0 auto;"}
      #{@task.task_type == 1 ? '代取快递' : @task.task_type == 2 ? '代课' : ''}
  .container
    .columns
      .col-9.col-mx-auto
        - if @task.task_type == 1
          = render partial: "task_kuaidi_detail"
        - elsif @task.task_type == 2
          = render partial: "task_daike_detail"
        - if @account.nil?
          %button.col-12.btn.btn-primary 接单
          .m-2
          %p.text-center
            %mark 登陆后才可以接单，去
            %a{href: "/account/sign_in/"} 
              %u 登陆
        - elsif @account.id == @task.created_user
          - if @task.status == 0
            %p.text-warning 等待同学接单
            .m-2
            %a.col-12.btn.btn-error{href: "/task/#{@task.id}/delete/"} 删除任务
          - elsif @task.status == 1
            %p.text-warning 已被接单
            .m-2
            %p.text-warning 接单用户：#{@ruser.phone}
            .m-2
            %a.col-5.btn.btn-error{href: "/task/#{@task.id}/delete/"} 删除任务
            %a.col-5.btn.btn-success.float-right{href: "/task/#{@task.id}/confirm/"} 确认完成
          - elsif @task.status == 2
            %p.text-success 已完成
            .m-2
            %p.text-success 接单用户：#{@ruser.phone}
        - elsif @account.id != @task.created_user && @task.status == 0
          %a.col-12.btn.btn-primary{href: "/task/#{@task.id}/take/"} 接单
          %p.text-center.text-gray
            %small 接单后，请按给出的联系方式主动联系发布人
        - elsif @account.id != @task.created_user
          - if @relation.user_id == @account.id
            - unless @detail.phone.empty?
              %p 联系手机：#{@detail.phone}
            - unless @detail.qq.empty?
              %p 联系QQ：#{@detail.qq}
            - unless @detail.wx.empty?
              %p 联系微信：#{@detail.wx}
            %button.col-12.btn.btn-success #{@task.status == 1 ? "已接单" : "已完成"}
          - else
            %button.col-12.btn.btn-error 已被别人接单

  .col-9.col-mx-auto{style: "height:50px;"}
    .social-share.float-right{data:{sites: "wechat,qq,qzone,weibo", title: "#{@task.title}", description: "#{@task.subtitle}", image: "#{@task.task_type == 4 ? @img : @task.default_img}"}}
