.my-container.mt-2
  .header 
    %p 发布任务 - 兼职
  .container
    .columns
      .col-9.col-mx-auto
        = form_tag("/task/create_task_jianzhi", method: "post", onsubmit: "return create_jianzhi();") do 
          %label.form-label 兼职类型
          %input#in_content.form-input{type: "text", placeholder: "如：送餐", name: "content",value: "#{@content}"}
          .m-2
          %label.form-label 工作地点
          %input#in_place.form-input{type: "text", placeholder: "如：综合楼", name: "place",value: "#{@place}"}
          .m-2
          %label.form-label 工作时段
          %input#in_work_time.form-input{type: "text", placeholder: "如：午饭、晚饭时间，周末等", name: "work_time",value: "#{@work_time}"}
          .m-2
          %label.form-label 性别要求
          %select.form-select{name: "gender"}
            %option 不限
            %option 男
            %option 女
          .m-2
          %label.form-label 薪资
          %input#in_price.form-input{type: "text", placeholder: "如：一单一元，全天100元等", name: "price",value: "#{@price}"}
          .m-2
          %label.form-label 备注
          %input#in_remark.form-input{type: "text", placeholder: "备注 可不填，如：管饭、有交通工具等", name: "remark",value: "#{@remark}"}
          .m-2
          %label.form-label 联系方式(至少留一种)
          %input#in_phone.form-input{type: "text", placeholder: "电话号码", name: "phone", value: "#{@phone}"}
          %p#in_phone_p.form-input-hint.hide
          .m-2
          %input#in_qq.form-input{type: "text", placeholder: "QQ号", name: "qq", value: "#{@qq}"}
          .m-2
          %input#in_wx.form-input{type: "text", placeholder: "微信号", name: "wx", value: "#{@wx}"}
          #message.has-error{class: "#{@message.empty? ? 'hide' : ''}"}
            %p.form-input-hint #{@message}
          .m-2
          %input.col-12.btn.btn-primary{type: "submit",value: "发布"}
        .m-2
