.my-container.mt-2
  .header 
    %p 代课
  .container
    .columns
      .col-9.col-mx-auto
        %p 代课时间：#{@detail.class_date} #{@detail.class_time}#{@detail.class_count} 
        %p 要求：#{@detail.gender == 1 ? "男" : "女"}
        %p 代课费：#{@detail.price}元
        %p 发布时间：#{@detail.created_at.localtime}
        %button.col-12.btn.btn-primary 接单
        .m-2
        - if @account.nil?
          %p.text-center
            %mark 登陆后才可以接单，去
            %a{href: "#"} 
              %u 登陆
