.my-container.mt-2
  .header 
    %p #{@task.task_type == 1 ? '代取快递' : @task.task_type == 2 ? '代课' : ''}
  .container
    .columns
      .col-9.col-mx-auto
        - if @task.task_type == 1
          = render partial: "task_kuaidi_detail"
        - elsif @task.task_type == 2
          = render partial: "task_daike_detail"
        - if @account.nil?
          %button.col-12.btn.btn-primary 接单
          .m-2
          %p.text-center
            %mark 登陆后才可以接单，去
            %a{href: "#"} 
              %u 登陆
        - elsif @account.id == @task.created_user
          - if @task
          %p 已被接单
          .m2
          %p 接单用户：#{@taked_user.phone}
        - elsif @account.id != @task.created_user && @task.status == 0
          %button.col-12.btn.btn-primary{onclick: "take_task();"} 接单
        - elsif @account.id != @task.created_user && $task.status == 1
          - if @relation.user_id == @account.id
            - unless @detail.phone.empty?
              联系手机：#{@detail.phone}
            - unless @detail.qq.empty?
              联系QQ：#{@detail.qq}
            - unless @detail.wx.empty?
              联系微信：#{@detail.wx}
            %button.col-12.btn.btn-success 已接单
          - else
            %button.col-12.btn.btn-error 已被别人接单
