- title("我的辽工大 - lgd.pub")
- head_desc("辽工大生活服务社区，发布与领取任务，享受便利大学生活！")
- keywords("辽工大,辽宁工程技术大学,lgd.pub,lgdpub")

.my-container.mt-2{style: "padding:0;"}
  .panel
    .panel-header
      .col-12.text-center
        - if @account.detail.nil?
          %figure.avatar.avatar-xl{style: "background-color: #5755d9;", data:{initial: "LGD"}}
        - elsif !@account.detail.avatar.nil? && !@account.detail.avatar.empty?
          %figure.avatar.avatar-xl
            %img{src: "#{@account.detail.avatar}"}
        - elsif !@account.detail.user_name.nil? && !@account.detail.user_name.empty?
          %figure.avatar.avatar-xl{style: "background-color: #5755d9;", data:{initial: "#{@account.detail.user_name[0]}"}}
        - else
          %figure.avatar.avatar-xl{style: "background-color: #5755d9;", data:{initial: "LGD"}}
      .mt-2
      .panel-title.h5.text-center.m-10  用户 #{@account.phone}
      - if @message != ""
        .toast.toast-success.mt-2
          %button.btn.btn-clear.float-right{onclick: "toast_hide(this);"}
          #{@message}
    .setting
      %a.text-dark{href: "/account/password_new/"}
        %i.icon.icon-edit
        %span.px-2 重置密码
        %i.icon.icon-arrow-right.float-right{style: "position:reltive;top:15px;margin-right:5px;"}
    .setting
      %a.text-dark{href: "/account/profile/"}
        %i.icon.icon-people
        %span.px-2 更新资料
        %i.icon.icon-arrow-right.float-right{style: "position:reltive;top:15px;margin-right:5px;"}
    .setting
      %a.text-dark{href: "/account/sign_out/"}
        %i.icon.icon-shutdown
        %span.px-2 退出登录
        %i.icon.icon-arrow-right.float-right{style: "position:reltive;top:15px;margin-right:5px;"}
    .panel-nav
      %ul.tab.tab-block
        %li.tab-item.active
          %a{href: "javascript:;", onclick:"$('#my_published').removeClass('hide');$('#my_taked').addClass('hide');$('li').removeClass('active');$(this).parent('li').addClass('active');"} 我发布的任务
        %li.tab-item
          %a{href: "javascript:;", onclick:"$('#my_taked').removeClass('hide');$('#my_published').addClass('hide');$('li').removeClass('active');$(this).parent('li').addClass('active');"} 我领取的任务
#my_published
  - if @my_published_tasks.size > 0
    = render partial: "/task/task_list", locals: {tasks: @my_published_tasks}
  - else
    .my-container.mt-2{style: "padding: 1rem;"}
      %p.h5.text-center 还没有发布过任务...
#my_taked.hide
  - if @my_taked_tasks.size > 0
    = render partial: "/task/task_list", locals: {tasks: @my_taked_tasks}
  - else
    .my-container.mt-2{style: "padding: 1rem;"}
      %p.h5.text-center 还没有领取过任务...
